#config file for min ET converter

#paper margin definition, in inch
Paper = (
width = 8.26771
length = 11.6929
top = 1.0
left = 1.5
right = 1.5
bottom = 1.5
)

#font folder and file setting
Fonts = (
標楷體 = Fonts\kaiu.ttf
3 of 9 Barcode = Fonts\C39.ttf
)

#preview program setting
Preview = (
program = %ProgramFiles%\Adobe\Reader 11.0\Reader\AcroRd32.exe
switches = /s /o
)

#printing setting
Printing = (
program = %ProgramFiles%\Adobe\Reader 11.0\Reader\AcroRd32.exe
switches = /t
printername =
drivername =
portname =
)