#config file for min ET converter

#paper margin definition, in inch
Paper = (
width = 8.26771
length = 11.6929
top = 0.0
left = 0.0
right = 0.0
bottom = 0.0
)

#font folder and file setting
Fonts = (
標楷體 = Fonts\kaiu.ttf
3 of 9 Barcode = Fonts\3of9_new.ttf
)

#preview program setting
Preview = (
program = %ProgramFiles%\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe
switches = /s /o
)

#printing setting
Printing = (
#program = %ProgramFiles%\Foxit Software\Foxit Reader\FoxitReader.exe
program = %ProgramFiles%\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe
switches = /h /t
printername = Print as a PDF
drivername = Microsoft Print To PDF
portname = PORTPROMPT:
)
